<h1>round</h1>
<table class="basic-table">
<a href="/users"> USERS </a> <br>
<a href="/user_rounds"> user_rounds </a>
<tr>
  <th>Round Id </th>
  <th>Round Course</th>
  <th>Bet Hole</th>
  <th>Bet Kp</th>
  <th>Bet Ld</th>
</tr>
<% @round.each do |round| %>
  <tr>
    <td><%= round.id %> </td>
    <td><%=round.course %> </td>
    <td><%=round.bet_per_hole %>$</td>
    <td><%=round.bet_per_kp %>$</td>
    <td><%=round.bet_per_ld %>$</td>
  </tr>
  <% end %>
</table>

<div class="row">
  <div class="rounds-input">
    <%= form_with model: @rounds , local: true  do |f| %>

     <p> <%= f.label :course %>
    <%= f.text_field :course, class: 'form-control' %> </p>

   <p> <%= f.label :per_hole_bet %>
    <%= f.text_field :bet_per_hole, class: 'form-control' %> </p>

   <p> <%= f.label :closest_to_pin_bet %>
    <%= f.text_field :bet_per_kp, class: 'form-control' %> </p>

  <p>  <%= f.label :longest_drive_bet %>
    <%= f.text_field :bet_per_ld, class: 'form-control' %> </p>

  
    <%= f.submit "Enter round", class: "btn btn-primary" %>

  <% end %>
  </div>
</div>
