<h1 class="center" >Rounds</h1>

<div class="spacer">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
    <%= value %>
   </div>
<% end %>
  <table class="basic-table rounds-table" >
    <tr>
      <th>Round </th>
      <th>Course</th>
      <th>Bet per Hole</th>
      <th>Closest to Pin</th>
      <th>Longest Drive Bet</th>
      
    </tr>
    <% @round.reverse.each do |round| %>
      <tr>
        <td><%= round.id %> </td>
        <td><a href="/current/<%=round.id%>"><%=round.course.capitalize%></a></td>
        <td><%=round.bet_per_hole %>$</td>
        <td><%=round.bet_per_kp %>$</td>
        <td><%=round.bet_per_ld %>$</td>
      </tr>
      <% end %>
  </table>
  
  <br>
  <h3 class="center" >Create New Round</h3>
  <br>


  <div class="create-round row">
    <div class="rounds-input">
      <%= form_with model: @rounds , local: true  do |f| %>
      <p> <%= f.label :course %>
      <%= f.text_field :course, class: 'form-control', placeholder: "Course"%>  </p>

    <p> <%= f.label :per_hole_bet %> 
      <%= f.text_field :bet_per_hole, class: 'form-control', placeholder: "$"%> </p>

    <p> <%= f.label :closest_to_pin_bet %>
      <%= f.text_field :bet_per_kp, class: 'form-control',placeholder: "$" %> </p>

    <p>  <%= f.label :longest_drive_bet %>
      <%= f.text_field :bet_per_ld, class: 'form-control',placeholder: "$" %> </p>

    
      <%= f.submit "Submit", class: "btn btn-primary btn-round" %>

      <% end %>
    </div>
  </div>
</div>
<br><br>
