   <% flash.each do |key, value| %>
  <% if key == "error" && value.is_a?(ActiveModel::Errors) %>
    <% value.each do |attribute, message| %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        <%= "#{attribute.capitalize} #{message}" %>
      </div>
    <% end %>
  <% elsif key == "success" %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
      <%= value %>
    </div>
  <% end %>
<% end %>
<div class="spacer">
  <div class="users-index-container create-container">
    <div class="users-index users-create">
      <%= form_with(model: @user, local: true) do |f| %>
      <%= f.label :name %> <br>
      <%= f.text_field :name, class: 'form-control' %><br>
      <%= f.label :email %><br>
      <%= f.email_field :email, class: 'form-control' %><br>
      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control' %><br>
      <%= f.label :password_confirmation, "Confirmation" %><br>
      <%= f.password_field :password_confirmation, class: 'form-control' %><br><br>
      <%= f.submit "Create my account", class: "center btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

