
<h1 class="center">Users</h1>

<div class="spacer">
<h3 class="center">Create User</h3>
  <br>
  <div class="users-index-container">
    <div class="users-index">
      <%= form_with(model: @user, local: true) do |f| %>
      <%= f.label :name %> <br>
      <%= f.text_field :name, class: 'form-control' %><br>
      <%= f.label :email %><br>
      <%= f.email_field :email, class: 'form-control' %><br>
      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control' %><br>
      <%= f.label :password_confirmation, "Confirmation" %><br>
      <%= f.password_field :password_confirmation, class: 'form-control' %><br><br>
      <%= f.submit "Create my account", class: "center btn btn-primary" %>
        
    <% end %>
    </div>
  </div>
  <br> 
  <br>
<table class="basic-table">
  <tr>
   <th>ID </th>
    <th>Player Rounds</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %> </td>
      <%# <td><%= user.name.capitalize%></td> 
      <td><a href="/users/<%=user.id%>"><button class="btn user-btn btn-primary" ><%=user.name.capitalize%>'s Rounds</button></a></td>
    </tr>
    <% end %>
  </table>
  <br><br>
  
</div> 