
<div class="users-show-container">

  <table class="basic-table table-primary users-show" style="width: 100%">
  <h1 class="center"><%= @user.name.upcase %>'S ROUNDS</h1>
  <tr>
    <th>Course</th>
    <th>Round</th>
    <th>Holes won</th>
    <th>Closest to</th>
    <th>Longest Drives </th>
    <th>Splits won</th>
    <th>Score</th>
  </tr>
  <% @user.user_rounds.reverse.each do |user| %>
    <tr>
      <td class="golfer-links"><a href="/current/<%= user.round_id %>"><%= user.round.course.capitalize %></td>
      <td><%=user.round_id%></td>
      <td><%= user.holes_won%></td>
      <td><%= user.kp_won%></td>
      <td><%= user.ld_won%></td>
      <td><%= user.splits%></td>
      <td><%= user.score%></td>

    </tr>
    <% end %>
  </table>
  </div>
  <br>
  <a href="/users" class=" center btn btn-primary" >Back</a>
  <br> 
  <br>
  <br>

