<h1>Users show</h1>

<a href="/users">Back</a>

<table class="basic-table">

<tr>
  <th>Name</th>
  <th>Course</th>
  <th>Round</th>
  <th>Holes won</th>
  <th>Kp won</th>
  <th>ld won</th>
  <th>splits won</th>
  <th>score</th>
</tr>
<% @u.user_rounds.each do |user| %>
  <tr>
    <td><%= @u.name%>
    <td><%= user.round.course%></td>
    <td><%=user.round_id%></td>
    <td><%= user.holes_won%></td>
    <td><%= user.kp_won%></td>
    <td><%= user.ld_won%></td>
    <td><%= user.splits%></td>
    <td><%= user.score%></td>

  </tr>
  <% end %>
</table>

