
<% holes_won_pay(@user_rounds)%>

<table class="current-bets-table table">
  <tr>
    <th>Hole bet: </th>
    <th>Closest bet: </th> 
    <th>Longest bet: </th>
  </tr>
  <tr>
    <td><%= @cur_round_bets.bet_per_hole %>$</td>
    <td><%= @cur_round_bets.bet_per_kp %>$</td>
    <td><%= @cur_round_bets.bet_per_ld %>$</td>

  </tr>
</table>

<table class="basic-table" style="width:100%">
    <tr>
      <th>Round id</th>
      <th>Player name</th>
      <th>Holes won </th>
      <th>Longest drive</th>
      <th>Closest to pin</th>
      <th>Splits</th>
      <th>Score</th>
      


    </tr>
    <h3><%= @user_rounds.first.round.course.upcase %></h3>
    <% @user_rounds.each do |round| %>
        <tr>
          <td><%= round.round_id %></td>
          <td><%= round.user.name.capitalize %></td>
          <td><%= round.holes_won %></td>
          <td><%= round.ld_won %></td>
          <td><%= round.kp_won %></td>
          <td><%= round.splits %></td>
          <td><%= round.score %> </td>
        </tr>
    <% end %>
</table>
<br>









<h1>Payouts </h1>

<table class="basic-table payout-table" style="width:100%">
    <tr>
      <th>Player</th>
      <th>Total</th>
      <th>Holes</th>
      <th>Longest Drive</th>
      <th>Closest to Pin</th>
      <th>Splits</th>
      <th>Score </th>
      
    
    

    </tr>
    <% @player_win_loss.each do |player| %>
        <tr>
          <td><%= player[1][:name].capitalize %> </td>
          <td><%=player[1][:total] %>$</td>
          <td><%=player[1][:holes_won] %>$</td>
          <td><%=player[1][:longest]  %>$</td>
          <td><%=player[1][:closest] %>$</td>
          <td><%= player[1][:splits] %>$</td>
          <td><%=player[1][:score]  %></td>
         
        </tr>
    <% end %>
</table>

