<%get_course_details%>
    <div class="round-header">
      <h1 class="round-title"><%=@round.course.capitalize %></h1>
      <p class="round-date"><%= @round.created_at.strftime("%B %d, %Y") %></p>
    </div>

    <div class="wagers-container">
      <div class="wager-item">
        <span class="wager-label">Per Hole</span>
        <span class="wager-value">$<%=@round.bet_per_hole %></span>
      </div>
      <div class="wager-divider">•</div>
      <div class="wager-item">
        <span class="wager-label">Closest to Pin</span>
        <span class="wager-value">$<%=@round.bet_per_kp %></span>
      </div>
      <div class="wager-divider">•</div>
      <div class="wager-item">
        <span class="wager-label">Longest Drive</span>
        <span class="wager-value">$<%=@round.bet_per_ld %></span>
      </div>
    </div>

    <h4 class="section-title">Round Results</h4>

<%kp_payout(total_kp)%>
<% hole_payout(total_holes)%>
<% ld_payout(total_ld)%>
<% get_splits_pay %>

<div class="table-responsive">
  <table class="round-results-table">
    <thead>
      <tr>
        <th rowspan="2" class="player-col">Player</th>
        <th colspan="2" class="group-header">Holes</th>
        <th colspan="2" class="group-header">Closest</th>
        <th colspan="2" class="group-header">Longest</th>
        <th colspan="2" class="group-header">Splits</th>
        <th rowspan="2" class="score-col">Score</th>
        <th rowspan="2" class="total-col">Total Pay</th>
      </tr>
      <tr>
        <th class="sub-header">Won</th>
        <th class="sub-header">Pay</th>
        <th class="sub-header">Won</th>
        <th class="sub-header">Pay</th>
        <th class="sub-header">Won</th>
        <th class="sub-header">Pay</th>
        <th class="sub-header">Won</th>
        <th class="sub-header">Pay</th>
      </tr>
    </thead>
    <tbody>
      <% @user_rounds.each_with_index do |user_round, index| %>
        <tr>
          <td class="player-name"><%= user_round.user.name.capitalize %></td>
          <td><%= user_round.holes_won %></td>
          <td class="payout">$<%= @all_hole_payouts[index] %></td>
          <td><%= user_round.kp_won %></td>
          <td class="payout">$<%= @all_kp_payouts[index] %></td>
          <td><%= user_round.ld_won %></td>
          <td class="payout">$<%= @all_ld_payouts[index] %></td>
          <td><%= user_round.splits %></td>
          <td class="payout">$<%= @all_split_payout[index] %></td>
          <td class="score"><%= user_round.score %></td>
          <td class="total-payout">$<%= @all_kp_payouts[index] + @all_ld_payouts[index] + @all_hole_payouts[index] + @all_split_payout[index] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
