<%get_course_details%>
    <h1 class="center"><%= @round_id %>  </h1>
    <h1 class="center"><%=@round.course.capitalize %> </h1> 
    <h6 class="center"><%= @round.created_at.strftime("%B %d, %Y") %> </h6> 
    <br>
    <h4 class="center"> Wagers</h4>
    <br>
    <p class="center">Per Hole: $<%=@round.bet_per_hole %><p>
    <p class="center">Per Closest to Pin: $<%=@round.bet_per_kp %><p>
    <p class="center">Per Longest off Tee: $<%=@round.bet_per_ld %><p>
    <h4 class="center">Scores</h4>
    <br>
  


<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Closest</th>
      <th>Longest</th>
      <th>Holes</th>
      <th>Splits</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @user_rounds.each do |user_round| %>
  <tr>
    <td><%= user_round.user.name.capitalize %></td>
    <td><%= user_round.kp_won %></td>
    <td><%= user_round.ld_won %></td>
    <td><%= user_round.holes_won %></td>
    <td><%= user_round.splits %></td>
    <td><%=user_round.score %></td>
   

  </tr>
<% end %>

    </tbody>
</table>
<br>


<%kp_payout(total_kp)%>
<% hole_payout(total_holes)%>
<% ld_payout(total_ld)%>
<% get_splits_pay %>




<h4 class="center">Payouts  </h4> 
<br>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Total</th>
      <th>Closest pay</th>
      <th>Longest pay</th>
      <th>Holes pay</th>
      <th>Splits pay</th>
    </tr>
  </thead>
  <tbody>
    <% @user_rounds.each_with_index do |user_round, index| %>
      <tr>
        <td><%= user_round.user.name.capitalize %></td>
        <td width="20%"><%= @all_kp_payouts[index] + @all_ld_payouts[index] + @all_hole_payouts[index] + @all_split_payout[index] %>$</td>
        <td><%= @all_kp_payouts[index] %>$</td>
        <td><%= @all_ld_payouts[index]%>$</td>
        <td><%= @all_hole_payouts[index] %>$</td>
        <td><%= @all_split_payout[index] %>$</td>
      </tr>
    <% end %>
  </tbody>
</table>
