
<h1 class="page-header" >Join Round</h1>


 <div class="user-rounds-input-container">
  <div class="user-rounds-input form-control" type="text" >
    <%= form_with model: @user_rounds , local: true  do |f| %>

   <p> <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %> </p>

   <p> <%= f.label :round_id %>
    <%= f.text_field :round_id, class: 'form-control' %> </p>

  <p>  <%= f.label :holes  %>
    <%= f.text_field :holes_won, class: 'form-control' %> </p>

   <p> <%= f.label :Longest %> 
    <%= f.text_field :ld_won, class: 'form-control' %> </p>

  <p>  <%= f.label :Closest %>
    <%= f.text_field :kp_won, class: 'form-control' %> </p>

  <p>  <%= f.label :splits %>
    <%= f.text_field :splits, class: 'form-control' %> </p>
  <p>  <%= f.label :score %>
    <%= f.text_field :score, class: 'form-control' %> </p>
    <%= f.submit "Submit Round", class: "center btn btn-primary" %>

  <% end %>
  </div>
</div>
  <% get_players_in_round(@user_round)%>
  <% get_round_ids(@user_round)%>
 


 

<br>

<br>
 <div class="user-round-container">
  <h1 class="center"> All Rounds </h1>
  <table class="user-round-table ">
      <tr>
        <th>Name</th>
        <th>Round ID</th>
        <th>Holes Won</th>
        <th>Closest To </th>
        <th>Longest drive</th>
        <th>Splits</th>
        <th>Score</th>
      </tr>
      <% @user_round.reverse.each do |user_round| %>
          <tr >
            <td><%= user_round.user.name.capitalize  %></td>
            <td><%= user_round.round.id %></td>
            <td><%= user_round.holes_won %></td>
            <td><%= user_round.kp_won %></td>
            <td><%= user_round.ld_won %></td>
            <td><%= user_round.splits %></td>
            <td><%= user_round.score %></td>
            <%# <td><%= user_round.created_at %></td> 
          </tr>
      <% end %>
  </table>
</div>