
<h1 class="page-header" >Join Round</h1>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <button type="btn center btn-primary" class="submit" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>



 <div class="user-rounds-input-container">
  <div class="user-rounds-input form-control" type="text" >
    <%= form_with model: @user_rounds , local: true do |f| %>
      <%= f.hidden_field :round_id %>
  <p> <%= f.label :round_id %>
  
     <div data-controller="course">
        <%= f.select :round_id, options_for_select(@round.reverse.map{ |r| ["#{r.course.capitalize} (#{r.created_at.strftime('%m/%d/%Y')})", r.id] }), {prompt: "Select a Round"}, {class: 'form-select text-center'} %>


      </div>
    
  </p>
  <%# <p> <%= f.label :name %> 
    <%# <%= f.text_field :name, class: 'form-control' %> </p> 

  <p>  <%= f.label :holes_won   %>
    <%= f.text_field :holes_won, class: 'form-control' %> </p>

   <p> <%= f.label :Longest_drives %> 
    <%= f.text_field :ld_won, class: 'form-control' %> </p>

  <p>  <%= f.label :Closest_to_pin %>
    <%= f.text_field :kp_won, class: 'form-control' %> </p>

  <p>  <%= f.label :splits %>
    <%= f.text_field :splits, class: 'form-control' %> </p>
  <p>  <%= f.label :round_score %>
    <%= f.text_field :score, class: 'form-control' %> </p>
    <%= f.submit "Submit", class: "center btn btn-primary" %>

  <% end %>
  </div>
</div>


  



 

<br>


<br>
<div class="user-round-container">
  <h1 class="center"> All Rounds </h1>
    <table class="user-round-table ">
      <tr>
        <th>Name</th>
        <th>Course</th>
        <%# <th>Holes Won</th>
        <th>Closest To </th>
        <th>Longest drive</th> %>
        <th>Date</th>
        <th>Score</th>
      </tr>
        <% @user_round.reverse.each do |user_round| %>
          <tr >
            <td><%= user_round.user.name.capitalize  %></td>
            <td><a href="/current/<%=user_round.round.id%>"><%= user_round.round.course.capitalize %></a> </td>
            <%# <td><%= user_round.holes_won %></td> 
            <%# <td><%= user_round.kp_won %></td> 
            <%# <td><%= user_round.ld_won %></td> 
            <td> <%=user_round.created_at.strftime('%m/%d/%Y') %> </td>
            <td><%= user_round.score %></td>
          </tr>
        <% end %>
    </table>
</div>

