<h1>Nav bar</h1>
<header>
  <div>
    <!-- image -->
    <nav>
      <ul>
        <li> <%="Users" %> users_path </li>
        <li> <%="Rounds" %> rounds_path </li>
        <li> <%= %> </li>
        <li> <%= %> </li>
        <li> <%= %> </li>
      </ul>
    </nav>

  </div>
</header>